.cima1 {
    background-color: aqua;
}

nav ul {
    list-style-type: none;
    width: 70%;
    height: 100px;
    margin-top: 0;
    display: flex;
    padding: 0;
}

nav ul li {
    padding-top: 35px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    width: 100%;
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

#menu-principal {
    background-color: #004e03;
    padding: 10px;
}

#menu-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#menu-principal ul li {
    display: inline;
}

#menu-principal ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
#menu-principal ul li a:hover {
    color: rgb(255, 225, 91);
    text-decoration: none;
    font-weight: bold;
}

#header-principal {
    text-align: center;
    background-color: #008037;
    color: white;
    padding: 20px 0;
}

#conteudo-principal {
    padding: 0px;
}

#conteudo-principal h1 {
    text-align: center;
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}


#descricao-servicos {
    margin: 20px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

#iframe-container {
    margin: 20px 0;
    text-align: center;
}

#iframe-container iframe {
    border: 4px solid #01760a;
    border-radius: 5px;
    height: 400px;
    width: 600px;
}

#lista-beneficios ul {
    list-style: square;
    padding-left: 20px;
}

#lista-beneficios ul li {
    margin: 5px 0;
}

.precos-tb {
    text-align: center;
}
