body {
    font-family: Arial, sans-serif;
  }
  h2 {
    color: #004d40;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .section {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-top: 40px solid #d1d1d1;
  }
  .topo {
    color: #004d40;
  }
  .campo-grupo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
  .campo {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  input, select {
    padding: 6px;
    font-size: 14px;
  }
  .half {
    flex: 0.48;
  }